<h1>Posts</h1>

<% if @posts.any? %>
  <ul>
    <% @posts.each do |post| %>
      <li><%= link_to post.title, post_path(post) %> |
        <%= link_to "Edit", edit_post_path(post) %> |
        <%= link_to "Destroy", post_path(post), method: :delete, data: { confirm: "Are you sure?"} %></li>
    <% end %>
  </ul>
  <% else %>
    <h3>There are currently no posts.</h3>
<% end %>
